.bigPlayPauseButton {
  display: none;
  > svg {
    fill: $white;
    display: none;
  }
  width: 64px;
  height: 64px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  outline: none;
}
