.progressBarCommercials {
  display: block;
  height: 100%;
  width: 5px;
  background-color: $commercialsColor;
  position: absolute;
  z-index: 120;
  @include HasProgressbarTooltip();
  .progressBarTooltip {
    left: 50%;
  }
}
