- var playSVG = require('../../assets/svgs/solid/play-circle.svg')
- var pauseSVG = require('../../assets/svgs/solid/pause.svg')
div(class=styles.bottomNavigation)
    button(class=styles.playPauseButton)
        | !{playSVG}
        | !{pauseSVG}
    