@mixin WrapperStatusPlaying {
  &.playing {
    .bigPlayPauseButton,
    .playPauseButton {
      svg:first-child {
        display: none;
      }
      svg:last-child {
        display: block;
      }
    }
  }
}
