@mixin WrapperStatusShowingCommercials {
  &.showingCommercials {
    display: none;
  }
}

.commercialsWrapper {
  .configsMenuTrigger {
    display: none;
  }
  .progressBar__inner {
    background-color: $commercialsColor;
  }
  .bufferedProgressBar {
    display: none;
  }
}
